{{> head}}
{{> navbar}}
<div class="row">

        <div class="col-8">
            <h1>Texto de prueba</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, blanditiis amet ab, quisquam debitis ipsum minima, cumque eius quibusdam voluptatem nihil modi tempore animi? Aut distinctio minima soluta est? Velit.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/paris_flowers.jpg" alt="" class="img-thumbnail">
        </div>

    </div>
{{> footer}}